	<%= error_messages_for(@subject) %>
	<table class="Subject form fields">
		<tr>
			<th><%= f.label(:name, "Name") %></th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th><%= f.label(:posistion) %></th>
			<td><%#= f.text_field(:posistion) %>
			<%= f.select(:posistion, 1..@subject_count)%></td>
		</tr>
		<tr>
			<th><%= f.label(:visible) %></th>
			<td><%= f.check_box(:visible) %></td>
		</tr>		
		<tr>
			<th><%= f.label(:created_at) %></th>
			<td><%= f.datetime_select(:created_at, :order => [:day, :month, :year]) %></td>
		</tr>	
	</table>